{% assign commands = include.brew.command %}
{% unless commands.first or include.brew.command == nil %}{% assign commands = '' | split: '' | push: include.brew.command %}{% endunless %}

    <dl>
        <dt>Commandline</dt>
        <dd class="well">
            Install it:
            <br/><code class="highlighter-rouge">brew install {{ include.brew.name | join: ' ' }}</code>
            {% if commands %}
            <br/>Run it:
            {% for item in commands %}
            {% assign type = item[0] %}
            {% assign command = item[1] %}{% unless command != nil %}{% assign command = item %}{% endunless %}
            <br/><code class="highlighter-rouge">{{ command }}</code> {% if type %}({{ type }}){% endif %}
            {% endfor %}
            {% endif %}
        </dd>
    </dl>
