{% assign commands = include.pear.command %}
{% unless commands.first or include.pear.command == nil %}{% assign commands = '' | split: '' | push: include.pear.command %}{% endunless %}

    {% if include.dependencies != nil && include.dependencies != empty && include.dependencies.first != nil %}
    {% assign list = include.dependencies | join: ', ' %}
    {% if list != '' %}
    <p class="alert alert-info">Make sure all dependencies are installed: {{ list }}.</p>
    {% endif %}
    {% endif %}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">Commandline</h4>
            Install it:
            <br/><code class="highlighter-rouge">pear install {{ include.pear.name | join: ' ' }}</code>
            {% if commands %}
            <br/>Run it:
            {% for item in commands %}
            {% assign type = item[0] %}
            {% assign command = item[1] %}{% unless command != nil %}{% assign command = item %}{% endunless %}
            <br/><code class="highlighter-rouge">{{ command }}</code> {% if type %}({{ type }}){% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
