{% assign urls = include.phar.url %}
{% unless urls.first or include.phar.url == nil %}{% assign urls = '' | split: '' | push: include.phar.url %}{% endunless %}

    <p class="alert alert-info">
        The <a href="{{ site.projects | where: 'title', 'PHPUnit' | map: 'url' | first | absolute_url }}">PHPUnit</a>
        <a href="https://phpunit.de/manual/current/en/phpunit-book.html">documentation</a> has a clear manual on how to
        <a href="https://phpunit.de/manual/current/en/phpunit-book.html#installation.phar">install PHARs on Windows</a>.
    </p>
    <p class="alert alert-danger">
        If you have the <a href="http://suhosin.org/stories/index.html">Suhosin extension</a> enabled,
        make sure to allow the execution of PHARs in your <code class="highlighter-rouge">php.ini</code>:
        <br/><code class="highlighter-rouge">suhosin.executor.include.whitelist = phar</code>
    </p>
    {% if include.dependencies != nil && include.dependencies != empty && include.dependencies.first != nil %}
    {% assign list = include.dependencies | join: ', ' %}
    {% if list != '' %}
    <p class="alert alert-info">Make sure all dependencies are installed: {{ list }}.</p>
    {% endif %}
    {% endif %}

    {% for item in urls %}
    {% assign type = item[0] %}
    {% assign url = item[1] %}{% unless url != nil %}{% assign url = item %}{% endunless %}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">Locally {% if type %}({{ type }}){% endif %}</h4>
            {% assign file = url | split: '/' | last | split: '?' | first %}
            Download it:
            <br/><code class="highlighter-rouge">wget -O {{ file }} {{ url }}</code>
            <br/><small><em>or</em></small>
            <br/><code class="highlighter-rouge">curl -sSL {{ url }} -o {{ file }}</code>
            {% if include.phar.further-instructions %}
            {% for item in include.phar.further-instructions %}
            <br/>{{ item[0] }}:
            <br/><code class="highlighter-rouge">{{ item[1] }}</code>
            {% endfor %}
            {% endif %}
            <br/>Use it:
            <br/><code class="highlighter-rouge">php {{ file }}</code>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">Globally {% if type %}({{ type }}){% endif %}</h4>
            {% assign file = url | split: '/' | last | split: '?' | first %}
            {% assign command = url | split: '/' | last | split: '?' | first | replace: '.phar', '' %}
            Download it:
            <br/><code class="highlighter-rouge">wget -O {{ file }} {{ url }}</code>
            <br/><small><em>or</em></small>
            <br/><code class="highlighter-rouge">curl -sSL {{ url }} -o {{ file }}</code>
            <br/>Install it as an executable:
            <br/><code class="highlighter-rouge">chmod a+x {{ file }}</code>
            <br/><code class="highlighter-rouge">sudo mv {{ file }} /usr/local/bin/{{ command }}</code>
            {% if include.phar.further-instructions %}
            {% for item in include.phar.further-instructions %}
            <br/>{{ item[0] }}:
            <br/><code class="highlighter-rouge">{{ item[1] }}</code>
            {% endfor %}
            {% endif %}
            <br/>Use it:
            <br/><code class="highlighter-rouge">{{ command }}</code>
        </div>
    </div>
    {% endfor %}
