---
layout: page
title: List
title-visible: false
comments: false
---

{% assign items = site.projects | sort_natural: 'title' %}
<table class="col-12">
    <tr>
        <th>Name of the project</th>
        <th>Website</th>
        <th>GitHub</th>
    </tr>
    {% for item in items %}
    <tr>
        <th>{{ item.title }}</th>
        <td><a href="{{ item.website.first.url }}" target="_blank">{{ item.website.first.url }}</a></td>
        <td>
            {% if item.github.first != nil %}
            {% capture github-url %}{% if item.github.first.url != nil %}{{ item.github.first.url }}{% else %}{{ site.metadata.github.url-prefix }}{{ item.github.first.name }}{% endif %}{% endcapture %}
            <a href="{{ github-url }}" target="_blank">GitHub</a>
            {% endif %}
        </td>
    </tr>
    <tr>
         <td colspan="3">{{ item.excerpt }}</td>
    </tr>
    {% endfor %}
</table>
