version: '3.1'

services:
    jekyll:
        image: jekyll/jekyll:pages
        command: jekyll serve --watch --force_polling --verbose
        ports:
            - "4000:4000"
        volumes:
            - ./:/srv/jekyll
