---
---

/* Navbar
-------------------------------------------------- */

.navbar {
  margin-bottom: 20px;

  .fa.fa-fw {
    display: inline-block;
    width: 1.28571429em;
  }
}

/* Sidebar
-------------------------------------------------- */

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  box-sizing: border-box;

  h2 {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    a {
      color: inherit;
    }
  }

  article {
    font-size: .75rem;
    background-color: #eceeef;
    border: 0;

    h3 {
      font-size: 0.85rem;

      a {
        color: inherit;
      }
    }

    p {
      margin-bottom: .75rem;
    }
  }

  .read-more {
    font-size: .75rem;
  }
}

/* Tools & filters
-------------------------------------------------- */

.tools {
  z-index: 1;
}

.tool_filters {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);

  .icon-collapse-toggle-flip-horizontal { // based on .fa-flip-horizontal
    
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: none;
  }

  .collapsed .icon-collapse-toggle-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0)";
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    filter: none;
  }

  .fa.fa-fw {
    display: inline-block;
    width: 1.28571429em;
  }

  .tool-tag-remove {
    padding: 3px 6px 3px 3px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }
}





/* Badge outline
-------------------------------------------------- */

.badge-outline {
  color: #000;
  border: 1px solid #ccc;
  background-color: transparent;
}

.badge-outline.badge-primary {
  color: #0275d8;
  border-color: #0275d8;
}

.badge-outline.badge-primary:hover,
.badge-outline.badge-primary.active {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.badge-outline.badge-default {
  color: #636c72;
  border-color: #ccc;
}

.badge-outline.badge-default:hover,
.badge-outline.badge-default.active {
  color: #fff;
  background-color: #636c72;
  border-color: #636c72;
}

.badge-outline.badge-success {
  color: #5cb85c;
  border-color: #5cb85c;
}

.badge-outline.badge-success:hover,
.badge-outline.badge-success.active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.badge-outline.badge-info {
  color: #5bc0de;
  border-color: #5bc0de;
}

.badge-outline.badge-info:hover,
.badge-outline.badge-info.active {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.badge-outline.badge-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
}

.badge-outline.badge-warning:hover,
.badge-outline.badge-warning.active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.badge-outline.badge-danger {
  color: #d9534f;
  border-color: #d9534f;
}

.badge-outline.badge-danger:hover,
.badge-outline.badge-danger.active {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

/* Card
-------------------------------------------------- */

.card-metrics {
  padding: .5rem;
  line-height: 1;
  font-size: 80%;
  font-weight: 400;
  text-align: right;

  .badge {
    margin: .25em;
  }
}

.card-block {
  position: relative;
  padding-right: 35px;

  .more-information {
    font-size: .75rem;
  }
}

.card-actions {
  position: absolute;
  top: .25rem;
  right: 0;
  width: 35px;
  text-align: right;

  .btn {
    padding: .25rem;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.card-actions .btn.btn-website:hover {
  color: #fff;
  background-color: #0275d8;
}

.card-actions .btn.btn-terms:hover {
  color: #000;
  background-color: #f2e31c;
}

.card-actions .btn.btn-wiki:hover {
  color: #000;
  background-color: #cef2e0;
}

.card-actions .btn.btn-docs:hover {
  color: #000;
  background-color: #cef2e0;
}

.card-actions .btn.btn-demo:hover {
  color: #fff;
  background-color: #F05033;
}

.card-actions .btn.btn-github:hover {
  color: #fff;
  background-color: #9CDAF0;
}

.card-actions .btn.btn-packagist:hover {
  color: #fff;
  background-color: #f28d1a;
}

.card-actions .btn.btn-docker:hover {
  color: #fff;
  background-color: #1488C6;
}

.card-tags {
  padding: .5rem;
  line-height: 1;
  font-size: 80%;
  font-weight: 400;
  text-align: right;

  .badge {
    margin: .25em;
    cursor: pointer;
  }
}

/* Well
-------------------------------------------------- */

.well {
  padding: .75rem 1.25rem;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
}

/* Pages
-------------------------------------------------- */

h3 a {
  color: inherit;
}

/* Footer
-------------------------------------------------- */

.footer {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
}

/* Sticky footer
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
