<div class="row mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <p>
                    <i class="fa fa-bug" aria-hidden="true"></i>
                    Have you noticed something odd?
                    Please <a href="https://github.com/phpqa/phpqa.github.io/issues">let us know</a>,
                    so we can fix it.
                </p>

                <p class="pull-right mb-0">
                    Want to see your own tool here?
                    Feel free to <a href="https://github.com/phpqa/phpqa.github.io/pulls">create a pull request</a>!
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
</div>
