<div class="row">
    <div class="col-12">
        <div class="tool_tag_filters mb-4">
            <a href="#alpha" data-tool-tag-filter="alpha" class="btn btn-sm btn-outline-info mb-1">
                alpha
            </a>
            <a href="#unmaintained" data-tool-tag-filter="unmaintained" class="btn btn-sm btn-outline-warning mb-1">
                unmaintained
            </a>
            <a href="#deprecated" data-tool-tag-filter="deprecated" class="btn btn-sm btn-outline-danger mb-1">
                deprecated
            </a>
            {% assign tags = site.tools | map: 'tags' | join: ',' | split:',' | sort | uniq %}
            {% for tag in tags %}
            {% unless tag == 'deprecated' or tag == 'unmaintained' or tag == 'alpha' or tag == 'docker image' %}
            <a href="#{{ tag }}" data-tool-tag-filter="{{ tag }}" class="btn btn-sm btn-secondary mb-1">
                {{ tag }}
            </a>
            {% endunless %}
            {% endfor %}
            <a href="#deprecated" data-tool-tag-filter="docker image" class="btn btn-sm btn-secondary mb-1">
                docker image
            </a>
        </div>

        <div class="tool_text_filters mb-4">
            <form class="form-inline">
                <input type="text" class="form-control" placeholder="Filter">
            </form>
        </div>

        <div class="current_tool_filters mb-4"></div>
    </div>
</div>
