<div class="links mb-4">
    {% for link in site.links limit:include.limit %}
    {% assign begin = link.url | slice: 0, 4 %}
    <article class="link well mb-1">
        <header>
            <h3>
                <a href="{% unless begin == 'http' %}{{ site.url }}{% endunless %}{{ link.url }}">{{ link.label }}</a>
                <i class="fa {{ link.icon }} hidden-lg-down pull-right" aria-hidden="true"></i>
            </h3>
        </header>

        <p>{{ link.description }}</p>
    </article>
    {% endfor %}
</div>
