<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in site.navigation %}
            {% assign begin = item.url | slice: 0, 4 %}
            <li class="nav-item">
                <a class="nav-link" href="{% unless begin == 'http' %}{{ site.url }}{% endunless %}{{ item.url }}">
                    <i class="fa {{ item.icon }} fa-fw" aria-hidden="true"></i>
                    {{ item.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
