<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/">
                    <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
                    Tools
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/usage">
                    <i class="fa fa-magic fa-fw" aria-hidden="true"></i>
                    Usage
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/news">
                    <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
                    News
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/about">
                    <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
                    About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/phpqa/phpqa.github.io/issues">
                    <i class="fa fa-sign-language fa-fw" aria-hidden="true"></i>
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>
