<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.navigation.projects.url | absolute_url }}">{{ site.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for item in site.navigation %}
            <li class="nav-item">
                <a class="nav-link animated-parent" href="{% if item[1].url contains 'http' %}{{ item[1].url }}{% else %}{{ item[1].url | absolute_url }}{% endif %}">
                    <i class="{{ item[1].icon }} fa-fw animated-icon" aria-hidden="true"></i>
                    {{ item[1].label }} <!--<span class="sr-only">(current)</span>-->
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
