<div class="posts mb-4">
    {% for post in site.posts limit:limit %}
    <article class="post well mb-1">
        <header>
            <h3><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
            <p>
                <time pubdate datetime="{{ post.date }}">{{ post.date | date_to_long_string }}</time>
            </p>
        </header>

        {{ post.excerpt }}

        <a href="{{ post.url | absolute_url }}" class="read-more">Read more &rarr;</a>
    </article>
    {% endfor %}
</div>
