{% if page.brew != nil
    or page.composer != nil
    or page.composer-dev != nil
    or page.composer-global != nil
    or page.git != nil
    or page.gem != nil
    or page.pear != nil
    or page.phar != nil %}
<h2>Installation</h2>
<ul>
    {% if page.brew != nil %}
    <li>
        <a href="#brew" data-toggle="collapse" data-target="#brew" aria-expanded="false" aria-controls="brew">
            Install from a Brew package (with Brew)
        </a>
    </li>
    {% endif %}
    {% if page.composer != nil %}
    <li>
        <a href="#composer" data-toggle="collapse" data-target="#composer" aria-expanded="false" aria-controls="composer">
            Install from a Composer package as a dependency (with Composer)
        </a>
    </li>
    {% endif %}
    {% if page.composer-dev != nil %}
    <li>
        <a href="#composer-dev" data-toggle="collapse" data-target="#composer-dev" aria-expanded="false" aria-controls="composer-dev">
            Install from a Composer package as a dev dependency (with Composer)
        </a>
    </li>
    {% endif %}
    {% if page.composer-global != nil %}
    <li>
        <a href="#composer-global" data-toggle="collapse" data-target="#composer-global" aria-expanded="false" aria-controls="composer-global">
            Install from a Composer package as a global CLI utility (with Composer)
        </a>
    </li>
    {% endif %}
    {% if page.git != nil %}
    <li>
        <a href="#git" data-toggle="collapse" data-target="#git" aria-expanded="false" aria-controls="git">
            Install from a Git repository (with Git)
        </a>
    </li>
    {% endif %}
    {% if page.gem != nil %}
    <li>
        <a href="#gem" data-toggle="collapse" data-target="#gem" aria-expanded="false" aria-controls="gem">
            Install from a RubyGems gem (with RubyGems or Bundler)
        </a>
    </li>
    {% endif %}
    {% if page.pear != nil %}
    <li>
        <a href="#pear" data-toggle="collapse" data-target="#pear" aria-expanded="false" aria-controls="pear">
            Install from a PEAR package (with PEAR)
        </a>
    </li>
    {% endif %}
    {% if page.phar != nil %}
    <li>
        <a href="#phar" data-toggle="collapse" data-target="#phar" aria-expanded="false" aria-controls="phar">
            Install from a PHP Archive (with curl or wget)
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% if page.composer != nil %}
<div id="composer" class="collapse">
    <h3>Install from a Composer package as a dependency (with Composer)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/composer.html composer=page.composer packagist=page.packagist.first %}
</div>
{% endif %}

{% if page.composer-dev != nil %}
<div id="composer-dev" class="collapse">
    <h3>Install from a Composer package as a dev dependency (with Composer)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/composer-dev.html composer=page.composer-dev packagist=page.packagist.first %}
</div>
{% endif %}

{% if page.composer-global != nil %}
<div id="composer-global" class="collapse">
    <h3>Install from a Composer package as a global CLI utility (with Composer)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/composer-global.html composer=page.composer-global packagist=page.packagist.first %}
</div>
{% endif %}

{% if page.git != nil %}
<div id="git" class="collapse">
    <h3>Install from a Git repository (with Git)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/git.html git=page.git github=page.github.first %}
</div>
{% endif %}

{% if page.brew != nil %}
<div id="brew" class="collapse">
    <h3>Install from a Brew package (with Brew)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/brew.html brew=page.brew %}
</div>
{% endif %}
{% if page.gem != nil %}
<div id="gem" class="collapse">
    <h3>Install from a RubyGems gem (with RubyGems or Bundler)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/gem.html gem=page.gem %}
</div>
{% endif %}

{% if page.pear != nil %}
<div id="pear" class="collapse">
    <h3>Install from a PEAR package (with PEAR)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/pear.html pear=page.pear %}
</div>
{% endif %}

{% if page.phar != nil %}
<div id="phar" class="collapse">
    <h3>Install from a PHP Archive (with curl or wget)</h3>
    {% include dependencies-alert.html dependencies=page.dependencies %}
    {% include installation/phar.html phar=page.phar %}
</div>
{% endif %}
