<dl class="row">
    {% for metadataItem in site.metadata %}
    {% assign projectKey = metadataItem[0] %}
    {% assign metadataProperties = metadataItem[1] %}
    {% assign valueObjects = page[projectKey] %}
    {% unless valueObjects.first == blank or valueObjects.first == nil %}<!-- todo check if array is empty -->
    <dt class="col-sm-3"><i class="{{ metadataProperties.icon }} fa-fw"></i> {{ metadataProperties.label }}</dt>
    <dd class="col-sm-9">
        {% for valueObject in valueObjects %}
        {% capture mask %}{% if valueObject.label != nil %}{{ valueObject.label }}{% else %}{{ valueObject.name }}{% endif %}{% endcapture %}
        {% capture url %}{% if valueObject.url != nil %}{{ valueObject.url }}{% elsif valueObject.name != nil %}{{ metadataProperties.url-prefix }}{{ valueObject.name }}{% endif %}{% endcapture %}
        {% if mask != '' and url != '' and url != mask %}
        <a href="{{ url }}" target="_blank">{{ mask }}</a>{% unless forloop.last %}, {% endunless %}
        {% elsif mask != '' %}
        {{ mask }}{% unless forloop.last %}, {% endunless %}
        {% elsif url != '' %}
        <a href="{{ url }}" target="_blank">{{ url }}</a>{% unless forloop.last %}, {% endunless %}
        {% else %}
        {{ valueObject }}{% unless forloop.last %}, {% endunless %}
        {% endif %}
        {% endfor %}
    </dd>
    {% endunless %}
    {% endfor %}
</dl>

{% if page.packagist.first != nil and page.github.first != nil %}
<p>
    {% capture github-url %}{% if page.github.first.url != nil %}{{ page.github.first.url }}{% else %}{{ site.metadata.github.url-prefix }}{{ page.github.first.name }}{% endif %}{% endcapture %}
    {% capture github-name %}{% if page.github.first.name != nil %}{{ page.github.first.name }}{% else %}{{ page.github.first.url | replace: site.metadata.github.url-prefix, '' }}{% endif %}{% endcapture %}
    {% capture packagist-name %}{% if page.packagist.first.name != nil %}{{ page.packagist.first.name }}{% else %}{{ page.packagist.first.url | replace: site.metadata.packagist.url-prefix, '' }}{% endif %}{% endcapture %}
    <a href="{{ github-url }}" title="watchers" class="badge badge-pill badge-dark badge-outline">
        <i class="far fa-eye"></i>
        <span data-github-name="{{ github-name }}" data-packagist-name="{{ packagist-name }}" data-metric="watchers">0</span>
    </a>
    <a href="{{ github-url }}" title="stars" class="badge badge-pill badge-dark badge-outline">
        <i class="far fa-star"></i>
        <span data-github-name="{{ github-name }}" data-packagist-name="{{ packagist-name }}" data-metric="stargazers">0</span>
    </a>
    <a href="{{ github-url }}" title="forks" class="badge badge-pill badge-dark badge-outline">
        <i class="fas fa-code-branch"></i>
        <span data-github-name="{{ github-name }}" data-packagist-name="{{ packagist-name }}" data-metric="forks">0</span>
    </a>
</p>
{% endif %}
