{% if page.composer != nil
    or page.composer-dev != nil
    or page.composer-global != nil
    or page.git != nil
    or page.gem != nil
    or page.phar != nil %}
<h2>Installation</h2>
<ul>
    {% if page.composer != nil %}
    <li>
        <a href="#composer" data-toggle="collapse" data-target="#composer" aria-expanded="false" aria-controls="composer">
            Install with Composer: PHP package as a dependency for your project
        </a>
    </li>
    {% endif %}
    {% if page.composer-dev != nil %}
    <li>
        <a href="#composer-dev" data-toggle="collapse" data-target="#composer-dev" aria-expanded="false" aria-controls="composer-dev">
            Install with Composer: PHP package as a dev dependency for your project
        </a>
    </li>
    {% endif %}
    {% if page.composer-global != nil %}
    <li>
        <a href="#composer-global" data-toggle="collapse" data-target="#composer-global" aria-expanded="false" aria-controls="composer-global">
            Install with Composer: PHP package as a global CLI utility
        </a>
    </li>
    {% endif %}
    {% if page.git != nil %}
    <li>
        <a href="#git" data-toggle="collapse" data-target="#git" aria-expanded="false" aria-controls="git">
            Install with Git: Git repository as a local utility
        </a>
    </li>
    {% endif %}
    {% if page.gem != nil %}
    <li>
        <a href="#gem" data-toggle="collapse" data-target="#gem" aria-expanded="false" aria-controls="gem">
            Install with RubyGems or Bundler: Gem as a dependency
        </a>
    </li>
    {% endif %}
    {% if page.phar != nil %}
    <li>
        <a href="#phar" data-toggle="collapse" data-target="#phar" aria-expanded="false" aria-controls="phar">
            Install with curl or wget: PHP archive as a CLI utility
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% if page.composer != nil %}
<div id="composer" class="collapse">
    <h3>Install with Composer: PHP package as a dependency for your project</h3>
    {% include tool-dependencies-alert.html dependencies=page.dependencies %}
    {% include tool-installation-composer.html composer=page.composer packagist=page.packagist %}
</div>
{% endif %}

{% if page.composer-dev != nil %}
<div id="composer-dev" class="collapse">
    <h3>Install with Composer: PHP package as a dev dependency for your project</h3>
    {% include tool-dependencies-alert.html dependencies=page.dependencies %}
    {% include tool-installation-composer-dev.html composer=page.composer-dev packagist=page.packagist %}
</div>
{% endif %}

{% if page.composer-global != nil %}
<div id="composer-global" class="collapse">
    <h3>Install with Composer: PHP package as a global CLI utility</h3>
    {% include tool-dependencies-alert.html dependencies=page.dependencies %}
    {% include tool-installation-composer-global.html composer=page.composer-global packagist=page.packagist %}
</div>
{% endif %}

{% if page.git != nil %}
<div id="git" class="collapse">
    <h3>Install with Git: Git repository as a local utility</h3>
    {% include tool-dependencies-alert.html dependencies=page.dependencies %}
    {% include tool-installation-git.html git=page.git github=page.github %}
</div>
{% endif %}

{% if page.gem != nil %}
<div id="gem" class="collapse">
    <h3>Install with RubyGems or Bundler: Gem as a dependency</h3>
    {% include tool-dependencies-alert.html dependencies=page.dependencies %}
    {% include tool-installation-gem.html gem=page.gem %}
</div>
{% endif %}

{% if page.phar != nil %}
<div id="phar" class="collapse">
    <h3>Install with curl or wget: PHP archive as a CLI utility</h3>
    {% include tool-dependencies-alert.html dependencies=page.dependencies %}
    {% include tool-installation-phar.html phar=page.phar %}
</div>
{% endif %}
