{% if page.packagist.name != nil or page.phars != nil %}
<h2>Installation</h2>
<ul>
    {% if page.packagist.name != nil %}
    <li>
        <a href="#composer" data-toggle="collapse" data-target="#composer" aria-expanded="false" aria-controls="composer">
            as a Package
        </a>
    </li>
    {% endif %}
    {% if page.phars != nil %}
    <li>
        <a href="#phar" data-toggle="collapse" data-target="#phar" aria-expanded="false" aria-controls="phar">
            as a PHP Archive
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% if page.packagist.name != nil %}
<div id="composer" class="collapse">
    <h3>Installation as a Package</h3>

    <p>
        Make sure you have
        <a href="{{ site.tools | where: 'title', 'Composer' | map: 'url' | first | absolute_url }}">Composer</a>
        installed.
    </p>

    <dl>
        <dt>Locally</dt>
        <dd class="well">
            Require it as a <a href="https://getcomposer.org/doc/03-cli.md#require">dev dependency</a>:
            <br/><code class="highlighter-rouge">composer require --dev {{ page.packagist.name }}</code>
        </dd>
    </dl>

    <dl>
        <dt>Globally</dt>
        <dd class="well">
            Install it as a <a href="https://getcomposer.org/doc/03-cli.md#global">global CLI utility</a>:
            <br/><code class="highlighter-rouge">composer require global {{ page.packagist.name }}</code>
            <br/>
            <small>
                Make sure your global
                <a href="https://getcomposer.org/doc/articles/vendor-binaries.md">vendor binaries</a> directory
                is in your $PATH environment variable.
                Check the <a href="https://getcomposer.org/doc/03-cli.md#global">Composer documentation</a>
                for more information.
            </small>
        </dd>
    </dl>
</div>
{% endif %}

{% if page.phars != nil %}
<div id="phar" class="collapse">
    <h3>Installation as a PHP Archive</h3>

    <dl>
        {% for phar in page.phars %}
        <dt>Locally, {{ phar.name }}</dt>
        <dd class="well">
            Download it:
            <br/><code class="highlighter-rouge">wget {{ phar.url }}</code>
            <br/>or
            <br/><code class="highlighter-rouge">curl --remote-name {{ phar.url }}</code>
            <br/>Execute it as:
            <br/><code class="highlighter-rouge">php {{ phar.url | split: '/' | last }}</code>
        </dd>
        <dt>Globally, {{ phar.name }}</dt>
        <dd class="well">
            {% assign command = phar.url | split: '/' | last | replace: '.phar', '' %}
            Install it:
            <br/><code class="highlighter-rouge">sudo curl -sSL {{ phar.url }} -o /usr/local/bin/{{ command }}</code>
            <br/><code class="highlighter-rouge">sudo chmod a+x /usr/local/bin/{{ command }}</code>
            <br/>Execute it as:
            <br/><code class="highlighter-rouge">{{ command }}</code>
        </dd>
        {% endfor %}
    </dl>
</div>
{% endif %}

<!--
<h3>as Phar Executable</h3>

<h3>with Docker</h3>

<h3>with Docker-compose</h3>
-->
