---
---

$phpqa-green: #55c737;
$phpqa-blue: #10A3ED;

$primary: $phpqa-green;

$jumbotron-bg: lighten($phpqa-green, 40%);
$jumbotron-end: lighten($phpqa-blue, 40%);

@import "bootstrap-4.1.1/bootstrap.scss";
@import "phpqa/phpqa.scss";
