---
---

@import "bootstrap-4.1.1/scss/bootstrap.scss";
@import "phpqa/scss/bootstrap.scss";

/* Navbar
-------------------------------------------------- */

.navbar {
  margin-bottom: 20px;
}

/* Sidebar
-------------------------------------------------- */

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  box-sizing: border-box;

  h2 {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    a {
      color: inherit;
    }
  }

  article {
    font-size: .75rem;
    background-color: #eceeef;
    border: 0;

    h3 {
      font-size: 0.85rem;

      a {
        color: inherit;
      }
    }

    p {
      margin-bottom: .75rem;
    }
  }

  .read-more {
    font-size: .75rem;
  }
}

/* Filters
-------------------------------------------------- */

.non-sticky {
  z-index: 1;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);
}

.icon-collapse-toggle-flip-horizontal { // based on .fa-flip-horizontal
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: none;
}

.collapsed .icon-collapse-toggle-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0)";
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  filter: none;
}

.fa.fa-fw.icon-collapse-toggle-flip-horizontal {
  display: inline-block;
  width: 1.28571429em;
}

.filter-remove {
  padding: 3px 6px 3px 3px;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

/* Well
-------------------------------------------------- */

.well {
  padding: .75rem 1.25rem;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
}

/* Pages
-------------------------------------------------- */

h3 a {
  color: inherit;
}

/* Icons
-------------------------------------------------- */

.fa-fw {
  display: inline-block;
  width: 1.25em;
}

/* Links page
-------------------------------------------------- */

.link {
  position: relative;
  padding-left: 4.25em;
  min-height: 7rem;

  .icon {
    position: absolute;
    top: 1.25rem;
    left: -1.15em;
  }
}

/* Code
-------------------------------------------------- */

code {
  padding: 0;
}

/* Footer
-------------------------------------------------- */

.footer {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
}

/* Sticky footer
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
