.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  box-sizing: border-box;

  h2 {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .125);

    a {
      color: inherit;
    }
  }

  article {
    font-size: .75rem;

    h3 {
      font-size: 0.85rem;

      a {
        color: inherit;
      }
    }

    p {
      margin-bottom: .75rem;
    }
  }

  .read-more {
    font-size: .75rem;
  }
}
