---
layout: bootstrap4
---

<div class="row">
    <div class="col-md-12">
        <article class="post">
            <h1>{{ page.title }}</h1>

            <dl class="row">
                {% for action in site.actions %}
                {% assign key = action[0] %}
                {% if page[key] != '' and page[key] != nil %}
                {% if key != 'website' or page.website != page.source %}
                <dt class="col-sm-3"><i class="fa {{ action[1].icon }} fa-fw"></i> {{ action[1].title }}</dt>
                <dd class="col-sm-9"><a href="{{ action[1].url-prefix }}{{ page[key] }}" target="_blank">{{ page[key] }}</a></dd>
                {% endif %}
                {% endif %}
                {% endfor %}

                {% if page.authors != '' and page.authors != nil %}
                {% assign authorlength = page.authors | size %}
                <dt class="col-sm-3"><i class="fa fa-user fa-fw"></i> Author{% if authorlength > 1 %}s{% endif %}</dt>
                <dd class="col-sm-9">{{ page.authors | join: ', ' }}</dd>
                {% endif %}

                {% if page.license != '' and page.license != nil %}
                <dt class="col-sm-3"><i class="fa fa-id-card fa-fw"></i> License</dt>
                {% if page.license-url != '' and page.license-url != nil %}
                <dd class="col-sm-9"><a href="{{ page.license-url }}" target="_blank">{{ page.license }}</a></dd>
                {% else %}
                <dd class="col-sm-9">{{ page.license }}</dd>
                {% endif %}
                {% endif %}

                {% if page.dependencies != '' and page.dependencies != nil %}
                <dt class="col-sm-3"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Dependencies</dt>
                <dd class="col-sm-9">{{ page.dependencies | join: ', ' | default: '-' }}</dd>
                {% endif %}

                {% if page.command != '' and page.command != nil %}
                <dt class="col-sm-3"><i class="fa fa-terminal fa-fw" aria-hidden="true"></i> Command</dt>
                <dd class="col-sm-9">{{ page.command }}</dd>
                {% endif %}
            </dl>

            {% if page.packagist != '' and page.packagist != nil %}
            <p>
                <a href="{{ page.source }}" title="stars" class="badge badge-pill badge-default">
                    <i class="fa fa-star"></i>
                    <span data-packagist-repository-name="{{ page.packagist }}" data-packagist-metric="star">*</span>
                </a>
                <a href="{{ page.source }}" title="watchers" class="badge badge-pill badge-default">
                    <i class="fa fa-eye"></i>
                    <span data-packagist-repository-name="{{ page.packagist }}" data-packagist-metric="watch">*</span>
                </a>
                <a href="{{ page.source }}" title="forks" class="badge badge-pill badge-default">
                    <i class="fa fa-code-fork"></i>
                    <span data-packagist-repository-name="{{ page.packagist }}" data-packagist-metric="fork">*</span>
                </a>
            </p>
            {% endif %}

            {{ content }}

        </article>
    </div>
</div>
