---
layout: bootstrap4
---

{% if page.packagist != '' and page.packagist != nil %}
<span class="pull-right">
    <a href="{{ page.packagist.url }}" title="stars" class="badge badge-pill badge-default badge-outline">
        <i class="fa fa-star"></i>
        <span data-packagist-repository-name="{{ page.packagist.label }}" data-packagist-metric="star">*</span>
    </a>
    <a href="{{ page.packagist.url }}" title="watchers" class="badge badge-pill badge-default badge-outline">
        <i class="fa fa-eye"></i>
        <span data-packagist-repository-name="{{ page.packagist.label }}" data-packagist-metric="watch">*</span>
    </a>
    <a href="{{ page.packagist.url }}" title="forks" class="badge badge-pill badge-default badge-outline">
        <i class="fa fa-code-fork"></i>
        <span data-packagist-repository-name="{{ page.packagist.label }}" data-packagist-metric="fork">*</span>
    </a>
</span>
{% endif %}

<dl class="row">
    {% for property in site.metadata %}
    {% assign key = property[0] %}
    {% if page[key] != '' and page[key] != nil %}
    {% if key != 'website' or page.website != page.source %}
    <dt class="col-sm-3"><i class="fa {{ property[1].icon }} fa-fw"></i> {{ property[1].label }}</dt>
    {% if page[key].label != nil and page[key].url != nil %}
    <dd class="col-sm-9"><a href="{{ page[key].url }}" target="_blank">{{ page[key].label }}</a></dd>
    {% elsif page[key].label != nil %}
    <dd class="col-sm-9">{{ page[key].label | inspect }}</dd>
    {% elsif page[key].url != nil %}
    <dd class="col-sm-9"><a href="{{ page[key].url }}" target="_blank">{{ page[key].url }}</a></dd>
    {% elsif property[1].multiple == true %}
    <dd class="col-sm-9">{{ page[key] | join: ', ' | default: '-' }}</dd>
    {% else %}
    <dd class="col-sm-9">{{ page[key] }}</dd>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
</dl>

{{ content }}
